@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #000000; 
}

body{
    background: #f6f6f6;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    background-color: #fafafa;
    height: 90px;
    width: 100%;
}

header input{
    border-radius: 12px;
    border-color:#E8E8EC;
    border-width: 2px;
    font-size: 16px;
    padding-left: 10px;
}

header button{
    background-color: #DE231E;
    border-radius: 6px;
}

.space{
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.container-2{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
}

.container-2 input{
    border-color:#E8E8EC;
    border-width: 2px;
    font-size: 16px;
    border-radius: 6px;
}

.container-2 button{
    border-radius: 6px;
    background-color: white;
    color: #DE231E;
    border: 1px solid #DE231E;
    align-content: center;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
}

.card{
    width: 200px;
    height: 283px;
    font-size: 14px;
    border-radius: 6px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.card img{
    width: 160px;
    height: 160px;
    border-radius: 6px;
    object-fit: cover;
}

.card h1{
    font-size: 14px;
    font-weight: 400;
    align-items: left;
    align-self: flex-start;
    margin-left: 20px;
}

.card p{
    font-size: 14px;
    font-weight: 400;
    align-items: left;
    align-self: flex-start;
    margin-left: 20px;
}

.card-button{
    width: 75px;
    height: 40px;
    border-radius: 6px;
    background-color: #DE231E;
    color: white;
    align-content: center;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
}

.card-button:hover{
    background-color: #B91D19;
}

.card-application-button{
    width: 75px;
    height: 40px;
    border-radius: 6px;
    background-color: white;
    color: #DE231E;
    border: 1px solid #DE231E;
    align-content: center;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
}

.card-application-button:hover{
    background-color: #f0f0f8;
}

.app-button{
    position: fixed;
    left: 120px;
    bottom:40px; 
    width: 120px;
    height: 120px;
    border-radius: 6px;
    background-color: white;
    color: #DE231E;
    border: 1px solid #DE231E;
    align-content: center;
    text-align: center;
    text-decoration: none;
    object-fit: cover;
}

.app-button img{
    width: 120px;
    height: 120px;
}

.order-card{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: #ffffff;
}

.order-card h1{
    font-size: 28px;
    font-weight: 700;
    min-height: 33.6px;
}

.order-card p{
    font-size: 20px;
    font-weight: 400;
}

.order-card img{
    width: 400px;
    height: 400px;
    border-radius: 6px;
    object-fit: cover;
}