<html lang = "rus">
    <head>
        <title>Web</title>
        <link rel="stylesheet" href="/styles/index_style.css">
    </head>
     <header>
        <h1>
            <a href = "/" style = "color: #DE231E; text-decoration: none;"><img src="/img/logo.svg"></a>
        </h1>
    </header>
    <div class ="container-3">
        <p style="width: 104px; margin-left: 39px; font-weight: 500;">Лимит (А):</p>
        <input type="text" name="query" style = "width: 40px; height: 24px; border:2px solid#E8E8EC; font-size: 16px; border-radius: 12px; align-content: center; text-align: center;">
    </div>
    <div class="container-3" >
        <p style="width: 220px; margin-left: 236px">Наименование товара</p>
        <p style="width: 104px; margin-left: 177px">Мощность</p>
        <p style="width: 104px; margin-left: 25px;">Кол-во ед.</p>
        <p style="width: 91px; margin-left: 18px;">Нагрузка</p>
        <p style="width: 83px; margin-left: 18px;">Заметка</p>
    </div>
        <div class="container-2">
            {{ range .amperage_application }}
            <div class="order-card">
                <img src="http://localhost:9000/test/{{ .Device.Photo }}" alt="img"  style = "width: 200px; height: 200px; margin-left: 15px;" class = "image">
                <div class = "row" style = "display: flex; gap: 20px; align-items: center;">
                    <p style = "width: 379px;">{{ .Device.Title }}</p>
                    <p style = "width: 110px;">{{ .Device.Dev_Power }} кВт</p>
                    <input type="number" value="1" min="1" style="text-align: center; font-size: 16px; border: 2px solid #F3F3F7; border-radius: 6px; width: 102px;">
                    <p style = "width: 83px;">{{ .Amperage }} А</p>
                    <input type="text" name="comment" style = "width: 134px; height: 24px; border:2px solid#E8E8EC; font-size: 16px; border-radius: 12px; align-content: center; text-align: center;">
                    <!-- <button type="submit" style = " width: 87px; height: 24px;">Сохранить</button> -->
                    <!-- <button type = "submit" style = "margin-left: 100px; width: 50px; height: 50px; justify-content: flex-end;"><img src="/static/img/trash.svg" style = "height: 50px; width: 50px;" alt="del"></button> -->
                </div>
            </div>
            {{ end }}
        </div>
        <div class = "row" style = "display: flex; gap: 20px; justify-content: center; margin-bottom: 30px; margin-top: 30px">
            <!-- <button type="submit" class = "submit-button">Оформить заявку</button> -->
            <form method="POST" action="/amperage_application/delete">
                <input type="hidden" name="amperage_application_id" value="{{ .Amperage_Application_ID}}">
                <button type="submit" class="delete-application-button">
                    Удалить заявку
                </button>
            </form>

        </div>
</html>