<html lang = "rus">
    <head>
        <title>Web</title>
        <link rel="stylesheet" href="/styles/index_style.css">
    </head>
    <header>
        <h1>
            <a href = "/" style = "color: #DE231E; text-decoration: none;">Домой</a>
        </h1>
        <form action="/" method="GET">
            <input type="text" name="query" style = "width: 690px; height: 48px;" placeholder="Найти устройство" value = "{{ .query }}">
        <button type="submit" style = "position: relative; left: -50px; width: 40px; height: 40px;  margin-top: 50 px;">🔎</button>
    </form>
    </header>
    <div class="space">
        <div class="container">
            {{ range .devices }}
            <div class="card">
                <img src="http://localhost:9000/test/{{ .Photo }}" alt="img" class = "image">
                <h1 style = "min-height: 33.6px;">{{ .Title }}</h1>
                <p>{{ .Dev_Power }} кВт</p>
                <div class = "row" style = "display: flex; justify-content: space-between; gap: 10px; align-self: start; margin-left: 20px;">
                <a href="/order/{{ .Device_ID }}" class = "card-button">Подробнее</a>
                <form method="POST" action="/cart/add">
                    <input type="hidden" name="device_id" value="{{ .Device_ID }}">
                    <button type="submit" class="card-application-button">Добавить</button>
                </form>
                </div>
            </div>
            {{ end }}
        </div>
    </div>

    <a href="/cart/{{ .Application_ID }}" class="app-button" style = "width: 130px; height: 130px;">
        <img src="/img/wrench.svg" style="height: 100px; width: 100px;" alt="Корзина">
        {{ if ne .cart_count 0}}
            <span class="cart-badge">{{ .cart_count }}</span>
        {{ end }}
    </a>
</html>